body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

a {
  color: #00B7FF;
}

.bi-column {
  float: left;
  width: 48vw;
  margin: 1vw;
}

.menu-item {
  height: 3vh;
  width: 100%;
  margin: 5vw;
}

.h2 {
  font-size: 6vh
}
