body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bi-column {
  float: left;
  width: 48vw;
  margin: 1vw;
}

.menu-item {
  height: 3vh;
  width: 100%;
  margin: 5vw;
}

.h2 {
  font-size: 6vh
}
